.container {
  text-align: center;
  padding: 50px;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: transparent;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover, .nav-link:focus {
  background-color: black;
  color: white;
  outline: none;
}

.nav-link-active {
  color: #d1005d;
  border-bottom: 2px solid #d1005d;
}

.Alternate-logo {
  width: auto;
  height: auto;
  max-width: 300px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
}

.youtubeLink {
  font-weight: bold; /* Added rule to make text bold */
}
